<p style="color: green"><%= notice %></p>

<h1 class="ui center aligned header">Components</h1>

<div id="components" class="ui three cards">
  <% @components.each do |component| %>
    <%= render component %>
  <% end %>
</div>

<%= link_to "New component", new_component_path %>
