<% if notice %>
<p class="ui message"><%= notice %></p>
<% end %>

<h1 class="ui center aligned header">Components</h1>

<div id="components" class="ui three cards">
  <% @components.each do |component| %>
    <%= render component %>
  <% end %>
</div>

<%= button_to "New component", new_component_path, class: "ui button", style: "margin-top:1rem;" %>
