<% if notice %>
<p class="ui message"><%= notice %></p>
<% end %>

<%= render @component %>

<div>
  <div class="ui buttons">
    <%= link_to "Edit this component", edit_component_path(@component), class: "ui button" %> 
    <%= button_to "Destroy this component", @component, method: :delete, class: "ui button" %>
  </div>
</div>
