<% if notice %>
<p class="ui message" data-controller="message" date-message-target="message" data-action="click->message#close"><%= notice %></p>
<% end %>

<h1>Footworks</h1>

<div id="footworks">
<table class="ui table" data-controller="footworks">
  <thead>
    <th>
      Name
    </th>
    <th>
    </th>
    <th>
    </th>
  </thead>
<tbody>
  <% @footworks.each do |f| %>
  <tr data-action="mouseover->footworks#active mouseout->footworks#inactive">
    <td><%= f.name %></td>
    <td>Edit</td>

    <!-- TODO Add referential integrity for cascading delete in other models. -->
    <td><%= button_to "Delete", footwork_path(f), method: :delete, class: "ui button", data: { confirm: "Are you sure?" } %></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>

<%= link_to "New footwork", new_footwork_path %>
