<div id="<%= dom_id figure %>">
  <p>
    <strong>Figure name:</strong>
    <%= figure.figure_name %>
  </p>

  <p>
    <strong>Figure description:</strong>
    <%= figure.figure_description %>
  </p>

</div>
