<h1>AHBD Home</h1>

<%= link_to "Steps", steps_path, class:"ui button" %>
<%= link_to "Footwork", footworks_path, class:"ui button" %>
<%= link_to "Foot Positions", foot_positions_path, class:"ui button" %>
<%= link_to "Components", components_path, class:"ui button" %>