<h1>Editing foot position</h1>

<%= render "form", foot_position: @foot_position %>

<br>

<div>
  <%= link_to "Show this foot position", @foot_position %> |
  <%= link_to "Back to foot positions", foot_positions_path %>
</div>
